<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sofientouati.ISSATsoLibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sofientouati.maktaba.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="MxosqIgdjNI0neo2OUWM9ariLheMokK4yR7bhdRA" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="don97qYjLwuB2eeUvjQfXiVNITGOJKmQ4VM0bvHb" />

        <activity
            android:name="com.sofientouati.maktaba.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sofientouati.maktaba.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.sofientouati.maktaba.SignUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.sofientouati.maktaba.BrowseActivity"
            android:label="Browse"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.sofientouati.maktaba.ResetPassActivity"
            android:label="Reset Password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>
